
.preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    background-color: #fff;
    overflow: hidden
}

.preloader__circle {
    position: fixed;
    top: 50%;
    left: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    width: calc(1 * (var(--preloader-circle-min-size) * 1px));
    height: calc(1 * (var(--preloader-circle-min-size) * 1px));
    max-width: calc(100vh - var(--gutter-vertical) * 3);
    max-height: calc(100vh - var(--gutter-vertical) * 3);
    border-radius: 100%;
    z-index: 1;
    pointer-events: none
}

@media screen and (min-width:320px) {
    .preloader__circle {
        width: calc(1 * (var(--preloader-circle-min-size) * 1px + (var(--preloader-circle-max-size) - var(--preloader-circle-min-size)) * ((100vw - 320px)/ 2240)))
    }
}

@media screen and (min-width:2560px) {
    .preloader__circle {
        width: calc(1 * (var(--preloader-circle-max-size) * 1px))
    }
}

@media screen and (min-width:320px) {
    .preloader__circle {
        height: calc(1 * (var(--preloader-circle-min-size) * 1px + (var(--preloader-circle-max-size) - var(--preloader-circle-min-size)) * ((100vw - 320px)/ 2240)))
    }
}

@media screen and (min-width:2560px) {
    .preloader__circle {
        height: calc(1 * (var(--preloader-circle-max-size) * 1px))
    }
}

.preloader__content {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
    width: calc(1 * (var(--preloader-circle-min-size) * 1px));
    height: calc(1 * (var(--preloader-circle-min-size) * 1px));
    max-height: calc(100vh - var(--gutter-vertical) * 3)
}

@media screen and (min-width:320px) {
    .preloader__content {
        width: calc(1 * (var(--preloader-circle-min-size) * 1px + (var(--preloader-circle-max-size) - var(--preloader-circle-min-size)) * ((100vw - 320px)/ 2240)))
    }
}

@media screen and (min-width:2560px) {
    .preloader__content {
        width: calc(1 * (var(--preloader-circle-max-size) * 1px))
    }
}

@media screen and (min-width:320px) {
    .preloader__content {
        height: calc(1 * (var(--preloader-circle-min-size) * 1px + (var(--preloader-circle-max-size) - var(--preloader-circle-min-size)) * ((100vw - 320px)/ 2240)))
    }
}

@media screen and (min-width:2560px) {
    .preloader__content {
        height: calc(1 * (var(--preloader-circle-max-size) * 1px))
    }
}

.preloader__header {
    width: 100%
}

.preloader__counter {
    white-space: nowrap
}

.preloader__counter-number {
    display: inline-block;
    width: 40px
}

.preloader__counter-current {
    text-align: right
}

.preloader__counter-total {
    text-align: left
}

.preloader__curtain-svg {
    width: 100%;
    height: 100%;
    fill: #ccc
}

.preloader__curtain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center
}

.preloader__curtain-curve {
    visibility: hidden
}

.preloader__curtain-normal {
    visibility: visible
}

.spinner {
    position: fixed;
    left: var(--gutter-horizontal);
    bottom: calc(var(--fix-bar-vh, 30px) + 15px);
    width: 30px;
    height: 30px;
    z-index: 10000;
    -webkit-animation: rotator 1.2s ease-in-out infinite;
    animation: rotator 1.2s ease-in-out infinite;
    opacity: 0;
    visibility: hidden
}

@-webkit-keyframes rotator {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(270deg)
    }
}

@keyframes rotator {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(270deg)
    }
}

.spinner__path {
    stroke: var(--color-gray-1);
    stroke-dasharray: 202;
    stroke-dashoffset: 0;
    transform-origin: center;
    -webkit-animation: dash 1.2s ease-in-out infinite;
    animation: dash 1.2s ease-in-out infinite
}

@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 202;
        transform: rotate(0)
    }
    50% {
        stroke-dashoffset: 50.5;
        transform: rotate(135deg)
    }
    100% {
        stroke-dashoffset: 202;
        transform: rotate(450deg)
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 202;
        transform: rotate(0)
    }
    50% {
        stroke-dashoffset: 50.5;
        transform: rotate(135deg)
    }
    100% {
        stroke-dashoffset: 202;
        transform: rotate(450deg)
    }
}

@media (max-width: 900px){
    .header-curtain {
        z-index: 0;
    }
}