.section-fullheight__inner{
    height: 400px;
}
.section__headline {
    display: block;
    width: calc(1 * (60 * 1px));
    height: 2px;
    background-color: var(--color-pink);
    margin: auto
}
.section-masthead__inner {
    position: relative;
    overflow: hidden;
    z-index: 50
}
.section-masthead__inner .section-masthead__subheading {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.section-masthead__inner .section-masthead__subheading span{
    margin: 0 10px;
    font-size: 15px;
}
.section-masthead__inner .section-masthead__subheading span a{
    color: var(--color-pink)
}
.section-masthead__background_fullscreen,.section-masthead__background_halfscreen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden
}

.section-masthead__background_halfscreen-gutters {
    padding: calc(var(--gutter-horizontal) + 40px) var(--gutter-horizontal) var(--gutter-horizontal)
}

.section-masthead__text {
    display: inline-block;
    max-width: 700px
}

.section-masthead__wrapper-scroll-down {
    display: inline-block;
    position: absolute;
    bottom: 2px;
    z-index: 50
}

.section-masthead__wrapper-scroll-down_center {
    left: 0;
    right: 0;
    margin: auto
}

.section-masthead__wrapper-scroll-down_left {
    left: calc(var(--gutter-horizontal) - 20px)
}

.section-masthead__wrapper-scroll-down_right {
    right: calc(var(--gutter-horizontal) - 20px)
}

.overlay.section-masthead__overlay {
    z-index: 1;
    transform: scale(1.02)
}

.section-masthead__header {
    z-index: 50
}

.section-masthead__header_absolute {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    z-index: 50
}

.section-masthead__wrapper-info {
    margin-top: 2em;
    margin-bottom: 2em
}

.section-masthead__wrapper-info:first-child {
    margin-top: 0
}

.section-masthead__wrapper-info:last-child {
    margin-bottom: 0
}

.section-masthead__meta-item {
    display: inline-block
}

.section-masthead__meta-item:not(:last-child):after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    width: calc(1 * (40 * 1px));
    height: 1px;
    margin: 1em;
    background-color: var(--color-gray-1)
}

@media screen and (min-width: 2560px) {
    .section-masthead__meta-item:not(:last-child):after {
        width:calc(1 * (60 * 1px))
    }
}

.section-masthead__meta-item>* {
    display: inline-block;
    vertical-align: middle
}

.section-masthead__meta-categories {
    list-style-type: none;
    padding: 0;
    margin: 0
}

.section-masthead__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1
}
[data-arts-scroll-down] {
    cursor: pointer;
}
.circle-button {
    position: relative;
    display: inline-flex;
    vertical-align: bottom;
    align-items: center;
    justify-content: center;
    width: calc(1 * (100 * 1px));
    height: calc(1 * (100 * 1px));
    transition: none;
}
.circle-button__outer {
    width: 100%;
    height: 100%;
}
.circle-button__wrapper-label {
    width: 100%;
    height: 100%;
}
.circle-button__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.circle-button__circle {
    transition: all .2s cubic-bezier(.785,.135,.15,.86);
}
[data-arts-theme-text=light] .circle-button__inner .svg-circle {
    border: 1px solid rgba(255,255,255,.3);
}
.circle-button__inner .svg-circle {
    width: calc(1 * (60 * 1px));
    height: calc(1 * (60 * 1px));
    border: 1px solid rgba(104,104,104,.5);
    border-radius: 100%;
    transition: all .2s cubic-bezier(.785,.135,.15,.86);
}
.circle-button__inner .circle {
    stroke-width: 4px;
}
.circle-button__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 0;
    pointer-events: none;
}
[data-arts-theme-text=light] .circle-button__inner .circle-button__icon {
    fill: #fff;
}
.no-touchevents .circle-button__icon-touch {
    display: none!important;
}
.circle-button__icon svg {
    height: 35px;
}
.no-touchevents .circle-button__icon-mouse {
    display: block!important;
}
.js-circle-button[data-arts-os-animation] {
    visibility: visible!important;
}

/* Products */

.figure-logo .figure {
    position: relative;
    width: 100%;
    height: 300px;
    margin: 5px 0;
    border: 1px solid #eee
}

.figure-logo .figure img.image-hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: cover;
    opacity: 0;
    transition: opacity .2s
}

.figure-logo:hover img.image-hover {
    opacity: 1
}

.figure-logo {
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    text-align: center;
    margin: 0 0 35px 0
}

.figure-logo img {
    transition: all .2s cubic-bezier(.785, .135, .15, .86);
    width: 100%;
    height: 100%;
    object-fit: cover
}

.figure-logo__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    color: #000;
    transition: all .2s cubic-bezier(.785, .135, .15, .86);
    transform-origin: bottom center
}
.figure-logo__description .prod-detail{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: baseline;
}
.figure-logo__description .prod-name p {
    font-family: zee-light;
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 10px 0 0
}

.figure-logo .prod-price ins {
    margin: 0 10px;
    text-decoration: none;
    font-size: 17px
}

.figure-logo .prod-price del {
    margin: 0 10px;
    color: grey
}

.figure-logo .img-hover {
    position: absolute;
    right: 0;
    margin: auto;
    bottom: 0;
    transition: all .5s cubic-bezier(.785, .135, .15, .86)
}

.figure-logo .img-hover a {
    width: 0;
    margin: 5px 0;
    height: 40px;
    color: var(--color-light-1);
    background-color: var(--color-dark-1);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px
}

.figure-logo .figure:hover .img-hover a {
    width: 40px
}

.figure-logo .img-hover a:hover {
    background-color: var(--color-pink);
    color: var(--color-dark-1)
}
.figure-logo .img-hover a.wishlist .second-heart{
    position: absolute;
    display: block;
    top: 10px;
    right: 10px;
    opacity: 0
}
.figure-logo .img-hover a.wishlist.fill .first-heart{
    opacity: 0
}
.figure-logo .img-hover a.wishlist.fill .second-heart{
    opacity: 1
}
.figure-logo__description p {
    transition: all .2s cubic-bezier(.785, .135, .15, .86)
}
.add{
    position: relative
}
.add .add-size{
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 0;
}
.add .add-size.show{display: inline-flex}
.add-size span{
    display: grid;
    width: 20%;
    border: 1px solid gray;
    margin: 0 5px;
    font-size: 13px;
    cursor: pointer;
    color: gray;
}
.add-size span:hover,
.add-size span.active{
    background: var(--color-pink);
    color: #fff;
    border-color: var(--color-pink);
}
.figure-logo__line {
    display: inline-block;
    width: 30px;
    height: 1px;
    background-color: #fff;
    transform: scaleX(0);
    transition: all .2s cubic-bezier(.785, .135, .15, .86)
}

.figure .tag {
    position: absolute;
    padding: 2px 10px;
    top: 20px;
    font-size: 13px;
    z-index: 9
}

.figure .tag.sale {
    background: var(--color-dark-1);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    left: -5px;
    color: var(--color-light-1)
}

.figure .tag.new {
    right: -5px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: var(--color-pink);
    color: var(--color-dark-1)
}
.lazy_loaded {
    background-color: unset;
}
.button_solid.button_black {
    border-color: var(--color-dark-1);
    background-color: var(--color-dark-1);
    color: #fff;
}
.button__label-hover {
    display: block;
    transform: translateY(0);
    transition: all .2s cubic-bezier(.785, .135, .15, .86);
    opacity: 1;
    visibility: visible;
}
.button_bordered.button_white:hover {
    color: var(--color-dark-1)
}

/* Star rate */
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate .star:before {
    content: '★ ';
}
.rate .star.checked:before  {
    color: #ffc700;    
}


@media screen and (max-width:1280px) {
    .figure-logo {
        width: 270px;
        height: 100%;
        max-width: 100%
    }
}

@media screen and (max-width:991px) {
    .figure-logo {
        width: 100%
    }
    .shop-list .col-sm-6{padding : 0 10px}
}


@media screen and (max-width: 991px) {
    .section-masthead__wrapper-scroll-down {
        bottom:10px
    }
    .section-masthead__background_halfscreen {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        height: 100vh;
        transform: none
    }
    .section-masthead__background_halfscreen-gutters {
        padding: 0
    }
}

@media screen and (min-width: 320px){
    .small-caps {
        font-size: calc(10 * 1px + (13 - 10) * ((100vw - 320px)/ 2240));
    }
    .circle-button {
        height: calc(1 * (100 * 1px + (160 - 100) * ((100vw - 320px)/ 2240)));
        width: calc(1 * (100 * 1px + (160 - 100) * ((100vw - 320px)/ 2240)));
    }
    .circle-button__inner .svg-circle {
        height: calc(1 * (60 * 1px + (100 - 60) * ((100vw - 320px)/ 2240)));
        width: calc(1 * (60 * 1px + (100 - 60) * ((100vw - 320px)/ 2240)))
    }
    .section-masthead__meta-item:not(:last-child):after {
        width:calc(1 * (40 * 1px + (60 - 40) * ((100vw - 320px)/ 2240)))
    }
}





