.section-fullheight__inner{
    height: 400px;
}
.section__headline {
    display: block;
    width: calc(1 * (60 * 1px));
    height: 2px;
    background-color: var(--color-pink);
    margin: auto
}
.section-masthead__inner {
    position: relative;
    overflow: hidden;
    z-index: 50
}
.section-masthead__inner .section-masthead__subheading {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.section-masthead__inner .section-masthead__subheading span{
    margin: 0 10px;
    font-size: 15px;
}
.section-masthead__inner .section-masthead__subheading span a{
    color: var(--color-pink)
}
.section-masthead__background_fullscreen,.section-masthead__background_halfscreen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden
}

.section-masthead__background_halfscreen-gutters {
    padding: calc(var(--gutter-horizontal) + 40px) var(--gutter-horizontal) var(--gutter-horizontal)
}

.section-masthead__text {
    display: inline-block;
    max-width: 700px
}

.section-masthead__wrapper-scroll-down {
    display: inline-block;
    position: absolute;
    bottom: 2px;
    z-index: 50
}

.section-masthead__wrapper-scroll-down_center {
    left: 0;
    right: 0;
    margin: auto
}

.section-masthead__wrapper-scroll-down_left {
    left: calc(var(--gutter-horizontal) - 20px)
}

.section-masthead__wrapper-scroll-down_right {
    right: calc(var(--gutter-horizontal) - 20px)
}

.overlay.section-masthead__overlay {
    z-index: 1;
    transform: scale(1.02)
}

.section-masthead__header {
    z-index: 50
}

.section-masthead__header_absolute {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    z-index: 50
}
[data-arts-theme-text=light] h2 ,
[data-arts-theme-text=light] p{
    color: var(--h2-color-light);
}
.section-services .section-content__image-inner {
    height: auto;
}
.section_w-container-left {
    max-width: 100%;
    width: calc(100% - (100vw - 1140px)/ 2 - 20px);
    margin-right: auto;
    text-align: right;
}
.section_h-600 {
    height: 600px;
    max-height: 100vh;
}
.lazy-bg_loaded {
    background-color: unset;
}
.lazy-bg {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(136,136,136,.1);
}
.section-image__caption {
    display: inline-block;
    margin-top: 1em;
}